<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<!--[if lte IE 7]><style media="screen,projection" type="text/css">@import "css/style-ie.css";</style><![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.7a-min.js"></script>
<script type="text/javascript">
  DD_belatedPNG.fix('#logo a, #body, #body_end');
</script>
<![endif]-->
<!-- main menu -->
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/jqueryslidemenu/jqueryslidemenu.js"></script>
<!-- /main menu -->
